.button__list {
  display: flex;
  align-items: center;
}

.button__item {
  margin-right: 10px;
}

button {
  border-radius: 10px;
  background-color: #fff;
  border-color: grey;
  padding: 10px 25px;
  font-size: 40px;
  font-weight: 600;
}
